@model IEnumerable<DataFut.Models.Entities.Posicao>

@{
    ViewData["Title"] = "Posições";
}

<h1>Posições</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Posição</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var posicao in Model)
        {
            <tr>
                <td>@posicao.Nome</td>
                <td>
                    <a asp-action="Details" asp-route-id="@posicao.Id" class="btn btn-sm btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@posicao.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@posicao.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>